/*GLOBAL*/

* {
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

span,
strong {
    color: #00BFFF;
    font-weight: bold;
}

.color-white {
    color: #fff;
    font-weight: bold;
}

.color-white:hover {
    color: #00BFFF;


}

.title-void,
.subtitle-void {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

p.text-void {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #ffff;
}

a.text-void-link {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #ffff !important;
}

h1.text-code,
h2.text-code,
h3.text-code,
h4.text-code,
h5.text-code {
    font-family: 'Roboto Mono', 'Space Mono' !important;
    color: #7f7f7f !important;
    font-weight: bold !important;
    text-transform: uppercase;
}

.link-bookmark {
    font-family: 'Montserrat', sans-serif !important;
    color: #00BFFF !important;
    font-weight: bold !important;
    text-transform: uppercase;
    font-size: 20px;
}

h6.text-code {
    font-family: 'Roboto Mono', 'Space Mono' !important;
    color: #7f7f7f !important;
    font-weight: bold !important;
}

p.text-code {
    font-family: 'Roboto Mono', 'Space Mono' !important;
    color: #bebebe !important;
    font-weight: bold !important;

}

h4.text-code-card {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px !important;
}

.banner {
    position: relative;
    background-color: #000000;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-dark {
    background-color: #000000 !important;
}

.navbar {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    padding: 5px 15px;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #00BFFF !important;
}

.nav-link.active {
    color: #00BFFF;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #00BFFF;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}

.navbar-collapse {
    background: #000000;
}

.header-style {
    border-bottom: 1px solid #c1c1c1;
}

.midias i {
    color: #00BFFF;
    font-size: 25px;
}

.midias li {
    display: inline-block;
    list-style: none;
    margin: 1em 0 0;
    padding: 4px;
}

.midias i:hover {
    color: #ffff;
}

.btnD1 {
    display: inline-block;
    margin: 1em 0 0;
    background-color: #00BFFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: 800;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;

}

.btnD1:hover {
    background-color: transparent;
    border: 1px solid #00BFFF;
    color: #fff;

}

.redes-sociais li,
i {
    list-style: none;
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 25px;
    text-align: center;

}

.redes-sociais i:hover {
    color: #00BFFF !important;
}


.alert i {
    color: green;
}

.link-insta {
    color: #00BFFF !important;
    font-weight: 600;
    font-size: 1.5rem;
}

.link-insta:hover {
    color: #fff !important;
}


.card {
    border: none !important;
}

.card-title {
    color: #fff !important;
    font-size: 1.5rem !important;
}

.card-text span {
    color: #00BFFF !important;
    font-size: 1.5rem !important;
}

.card-skills {
    border-radius: 5px;
    background: #464647;
    min-height: 100vh;

}

.card-skills img {
    padding: 25px !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    padding: 10px;
    background: #464647;
    border-radius: 5px;
}

.coluna {
    float: center;
    width: 33.33%;
}

.coluna img {
    width: 100px;
    height: 100px;
}

.about-section {
    padding-top: 10rem;
    background: #000000;
}

.about-section p {
    margin-bottom: 2rem;
}



.writing-section {
    padding: 10rem 0;
}

.writing-section .featured-text {
    padding: 2rem;
    border-left: 0.5rem solid #00BFFF;
}

.writing-section .project-text {
    padding: 3rem;
    font-size: 90%;

}

.projects-section {
    padding: 10rem 0;
}

.projects-section .featured-text {
    padding: 2rem;
    border-left: 0.5rem solid #00BFFF;
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;

}

@media only screen and (max-width:620px) {
    .writing-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #00BFFF;
    }

    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #00BFFF;
    }

    .nav-link {
        text-align: center !important;
    }


    .card-body {
        width: 100%;
    }

    .card-body img {
        width: 100%;
        padding: 0 0 20px 0 !important;
    }

    p.text-code {
        font-size: 13px;
    }

    p.text-void {
        font-size: 14px;
    }

    a.link-insta {
        font-size: 1.0rem;
    }

    .coluna img {
        width: 50px !important;
        height: 70px !important;
        margin: 20px !important;
    }

    .nav-link {
        text-transform: uppercase !important;
        font-weight: 500 !important;
    }

    footer span {
        bottom: 90px !important;
    }

    .card-footer {
        font-size: 14px !important;
    }
}





@media only screen and (max-width:768px) {
    .projects-section .project-text {
        padding: 5rem;
    }

    .projects-section .project-text hr {
        border-color: #00BFFF;
        border-width: 0.25rem;
        width: 30%;
    }

    .card-body img {
        width: 100%;
        padding: 0 0 20px 0 !important;
    }

    .title-void,
    .subtitle-void {
        font-size: 30px;
    }

    p.text-code {
        font-size: 13px;
    }

    p.text-void {
        font-size: 14px;
    }

    a.link-insta {
        font-size: 1.0rem;
    }

    h3.text-code {
        font-size: 21px !important;
    }
}

.card-body img {
    padding-right: 25px;
}